In [ ]:
%%sql

CREATE TABLE Institutions (
    
)