In [ ]:
%%sql

CREATE TABLE Institutions (
    institution_id SERIAL PRIMARY KEY,
    name TEXT NOT NULL,
    location TEXT NOT NULL
    accredagenccy TEXT,
    control INT,
    region INT,
    CCbasic INT
)

CREATE TABLE Students (
    institution_id INT REFERENCES Institutions(institution_id),
    year INT,
    adm_rate FLOAT,
    num_students INT,   
    act FLOAT,
    cdr2 FLOAT,
    cdr3 FLOAT,
    PRIMARY KEY (institution_id, year)
)

CREATE TABLE Financials (
    institution_id INT REFERENCES Institutions(institution_id),
    year INT, 
    tuition_in INT, 
    tuition_out_of INT,
    tuition_prog INT,
    tuitfte INT, 
    avgfacsal INT,
    PRIMARY KEY (institution_id, year)
)

CREATE TABLE Academics (
    institution_id INT REFERENCES Institutions(institution_id),
    year INT, 
    preddeg TEXT, 
    highdeg INT,
    PRIMARY KEY (institution_id, year)
)