In [1]:
from sqlalchemy import *

password = "h6YwRmN3yt"
db_name = "jiashenw"
andrewid = "jiashenw"
server_name = "debprodserver.postgres.database.azure.com"
db_url = f"postgresql://" + andrewid + ":" + password + "@" + server_name + ":5432/" + db_name
engine = create_engine(db_url)

In [2]:
%load_ext sql
%sql engine

In [ ]:
%%sql

DROP TABLE IF EXISTS Institutions CASCADE;
DROP TABLE IF EXISTS Students CASCADE;
DROP TABLE IF EXISTS Financials CASCADE;
DROP TABLE IF EXISTS Academics CASCADE;

CREATE TABLE Institutions (
   institution_id TEXT PRIMARY KEY, --- 8-digit OPEID code
   name TEXT NOT NULL, 
   accredagency TEXT, ---accrediting agency
   control INT CHECK (control IN (1, 2, 3)), --- 1=Public, 2=Private nonprofit, 3=Proprietary
   CCbasic INT CHECK (CCbasic <= 33), --- Carnegie classifier
   region INT CHECK (region BETWEEN 0 AND 9),
   csba TEXT CHECK (LENGTH(csba) = 5), --- Core Based Statistical Area
   cba TEXT CHECK (LENGTH(cba) = 5), --- Combined Statistical Area
   county_fips TEXT CHECK (LENGTH(county_fips) = 5), --- County FIPS code
   city TEXT,
   state TEXT CHECK (LENGTH(state) = 2),
   address TEXT,
   zip INT CHECK (zip > 0),
   latitude FLOAT,
   longitude FLOAT
);

CREATE TABLE Students (
   institution_id INT REFERENCES Institutions(institution_id),
   year INT CHECK (year > 0 AND year <= EXTRACT(YEAR FROM CURRENT_DATE)),
   adm_rate FLOAT CHECK (adm_rate >= 0 and adm_rate <= 1), 
   num_students INT CHECK (num_students >= 0),  
   act FLOAT CHECK (act >= 1 and act <= 36), 
   cdr2 FLOAT CHECK (cdr2 >= 0 and cdr2 <= 1),
   cdr3 FLOAT CHECK (cdr3 >= 0 and cdr3 <= 1), 
   first_gen FLOAT CHECK (first_gen >= 0 and first_gen <= 1), 
   avg_family_income INT CHECK (avg_family_income >= 0),
   PRIMARY KEY (institution_id, year)
);

CREATE TABLE Financials (
   institution_id INT REFERENCES Institutions(institution_id),
   year INT CHECK (year > 0 AND year <= EXTRACT(YEAR FROM CURRENT_DATE)),
   tuitionfee_in INT CHECK (tuitionfee_in >= 0), 
   tuitionfee_out INT CHECK (tuitionfee_out >= 0), 
   tuitionfee_prog INT CHECK (tuitionfee_prog >= 0), 
   tuitfte INT CHECK (tuitfte >= 0), 
   avgfacsal INT CHECK (avgfacsal >= 0), 
   PRIMARY KEY (institution_id, year)
);

CREATE TABLE Academics (
   institution_id INT REFERENCES Institutions(institution_id),
   year INT CHECK (year > 0 AND year <= EXTRACT(YEAR FROM CURRENT_DATE)),
   preddeg INT CHECK (preddeg BETWEEN 0 AND 4), 
   highdeg INT CHECK (highdeg BETWEEN 0 AND 4), 
   stufacr FLOAT CHECK (stufacr >= 0 AND stufacr <= 1), 
   PRIMARY KEY (institution_id, year)
);

Running query in 'postgresql://jiashenw:***@debprodserver.postgres.database.azure.com:5432/jiashenw'

++
||
++
++